
.carousel-inner {
  height: calc(100vw / 16 * 9);
  max-height: calc(100vh - 4.0625rem)/* 65/16 */;
}

.banner .carousel-item img {
  width: 100%;
  height: 100%;
}
.solution .card {
  height: 12.5rem /* 200/16 */;
}

.solution .card img{
  width: 100%;
  height: 100%;
}

.solution .solution-name {
  color: #fff;
}
