.info-detail .nav {
  height: 5.625rem /* 90/16 */;
  line-height: 5.625rem /* 90/16 */;
  border-bottom: 1px solid #ddd;
}

.info-detail .nav a{
  color: #479f76;
}

.info-detail .nav .split{
  margin-left: 10px;
  margin-right: 10px;
}

.info-detail .info-content-wrap {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 1rem /* 16/16 */;
}

.info-detail .news-time {
  font-size: 18px;
  font-weight: normal;
  color: #666;
}