.custom-header {
  height: 4.0625rem /* 65/16 */;
  padding:.75rem 0;
  background-color: #479f76;
  z-index: 1000;
  box-sizing: border-box;
}
.custom-header .container {
  background-color: #479f76;
}
.custom-header .navbar-toggler {
  border: 0;
  padding: 0;
}
.custom-header .navbar-nav {
  text-align: center;
  padding:.75rem 0;
}
