::-webkit-scrollbar { width: 0 !important; display: none; }

body {
  padding-top: 4.0625rem /* 65/16 */;
  overflow-x: hidden;
}

.content-wrap {
  min-height: calc(100vh - 4.0625rem - 15.625rem);
}

.pt1 {
  padding-top: 1rem /* 16/16 */;
}

.pb1 {
  padding-bottom: 1rem /* 16/16 */;
}

.ml8 {
  margin-left: .5rem /* 8/16 */;
}

.mr8 {
  margin-right: .5rem /* 8/16 */;
}

.block-wrap {
  padding-left: .75rem;
  padding-right: .75rem;
}

.home-block-title {
  display: inline-block;
  margin-top: 1rem /* 16/16 */;
  margin-bottom: 1rem /* 16/16 */;
  padding-bottom: .75rem /* 12/16 */;
  border-bottom: .375rem /* 6/16 */ solid #479f76;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #479f76;
}

.text-ellis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}