::-webkit-scrollbar { width: 0 !important; display: none; }

body {
  padding-top: 4.0625rem /* 65/16 */;
  overflow-x: hidden;
}

.block-wrap {
  padding-left: .75rem;
  padding-right: .75rem;
}

.home-block-title {
  display: inline-block;
  margin-top: 1rem /* 16/16 */;
  margin-bottom: 1rem /* 16/16 */;
  padding-bottom: .75rem /* 12/16 */;
  border-bottom: .375rem /* 6/16 */ solid #479f76;
}